.app {
  width: 1010px;
  min-height: 100vh;
  background-color: white;
}

.app__spin-large {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.25rem;
  inset-inline-start: 50%;
}

.main {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  height: 126px;
  width: 100%;
  padding: 0 2.25rem;
}

.header__input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 2.5rem;
  margin-top: auto;
  padding: 9px 12px;
  line-height: 1.375rem;
}

.header__input:focus {
  outline: none;
}

.header__input::placeholder {
  opacity: 25%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}
